<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
</head>
<body>
    <h3>Web Calculator</h3>
    <form action="/result" method="get">
        <input type="text" name="valueA" placeholder="Enter your value A"><br>
        <input type="text" name="valueB" placeholder="Enter your value B"><br><br>
        <input type="radio" name="action" id="plus" value="+">
        <label for="plus">+</label><br>
        <input type="radio" name="action" id="minus" value="-">
        <label for="minus">-</label><br>
        <input type="radio" name="action" id="division" value="/">
        <label for="division">/</label><br>
        <input type="radio" name="action" id="multiple" value="*">
        <label for="multiple">*</label><br>
        <input type="radio" name="action" id="power" value="**">
        <label for="power">To power</label><br>
        <input type="radio" name="action" id="sqrt" value="square roots">
        <label for="sqrt">Square roots of two numbers</label><br>
        <br>
        <br>
        <input type="submit" value="Calculate!">
    </form>
</body>
</html>