<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message</title>
</head>
<body>
    <h2>Message page</h2>
    <form action="/send" method="post">
        <a>Username: </a>
        <input type="text" id="username" name="username" placeholder="Enter your username"><br>
        <a>Password: </a>
        <input type="text" id="password" name="password" placeholder="Enter your password"><br><br>
        <a>Message: </a>
        <input type="text" id="message" name="message" placeholder="Enter your message ^-^"><br><br>
        <input type="submit" value="Enter">

</body>
</html>